@import '../dist/vendor/bootstrap/css/bootstrap.min.css';
@import '../dist/css/resume.css';

@media (max-width: 991px) {
    #about h1 {
        font-size: 5rem;
        line-height: 4.5rem;
    }
}

.nav-item .nav-link{
    cursor: pointer;
}